<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:dataSource.properties"/>
    </bean>

<!--方式1：spring内置的-->

<!--    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->
<!--        <property name="driverClassName">-->
<!--            <value>com.mysql.cj.jdbc.Driver</value>-->
<!--        </property>-->
<!--        <property name="url">-->
<!--            <value>jdbc:mysql://127.0.0.1:3306/spring?useUnicode=true&amp;characterEncoding=utf-8</value>-->
<!--        </property>-->
<!--        <property name="username">-->
<!--            <value>root</value>-->
<!--        </property>-->
<!--        <property name="password">-->
<!--            <value>Dsh!.4Zrx</value>-->
<!--        </property>-->
<!--    </bean>-->

<!--  方式2：  三方的-->

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="${driverClassName}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean id="userDao" class="dao.impl.UserDaoImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>

<!--    方式3，tomcat启动时候创建的数据源-->
<!--    <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">-->
<!--        <property name="jndiName">-->
<!--&lt;!&ndash;            key：服务器启动创建的对象的key&ndash;&gt;-->
<!--            <value>xxxx</value>-->
<!--        </property>-->
<!--    </bean>-->

</beans>