<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="someBean" factory-method="getiSomeBean" class="top.duanshuheng.ioc.entiy2.SomeBeanFactory">

    </bean>

    <bean id="env" class="java.lang.System" factory-method="getenv">

    </bean>
    <bean id="javaHome" class="java.lang.System" factory-method="getenv">
        <constructor-arg type="java.lang.String">
            <value>PATH</value>
        </constructor-arg>
    </bean>
</beans>