<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="someBean" class="top.duanshuheng.ioc.entiy11_LastBean.SomeBean">
        <property name="str" value="123avcaSdadsaSDDS">

        </property>
    </bean>

    <bean class="top.duanshuheng.ioc.entiy11_LastBean.SomeBeanPropertyPostProcessor">
<!--        后处理beanm不需要配置id-->
    </bean>


</beans>