<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    访问properties文件-->
    <bean id="someBean" class="top.duanshuheng.ioc.entiy17.SomeBean">
        <property name="str" value="${str}"></property>
        <property name="var" value="${var}"></property>
    </bean>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location">
            <value>classpath:info17.properties</value>
        </property>
    </bean>

</beans>