<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--spring aop 1.x-->

    <bean id="guTarget" class="top.duanshuheng.spring.gu">

    </bean>

    <bean id="advice" class="top.duanshuheng.spring.LogAdvice">

    </bean>


    <bean id="wecome" class="top.duanshuheng.spring.wecome">

    </bean>

    <bean id="around" class="top.duanshuheng.spring.TimeAround">

    </bean>

    <bean id="someService" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="guTarget"/>
        <property name="proxyInterfaces" value="top.duanshuheng.spring.talk"/>
        <property name="interceptorNames">
            <list>
                <value>advice</value>
                <value>wecome</value>
                <value>around</value>
            </list>
        </property>
    </bean>

</beans>