@charset "UTF-8";


.back-qljs-1{
    background-image: url("./qljs01.png");
}
.back-qljs-2{
    background-image: url("./qljs02.png");
}
.back-qljs-3{
    background-image: url("./qljs03.png");
}
.back-qljs-4{
    background-image: url("./qljs04.png");
}
.back-qljs-5{
    background-image: url("./qljs05.png");
}
.png-s{

}

